@import url('https://fonts.googleapis.com/css?family=Montserrat:400,800');


* {
	box-sizing: border-box;
}

body {
	background: #f6f5f7;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	font-family: 'Montserrat', sans-serif;
	height: 100vh;
	margin: -20px 0 50px;
}

h1 {
	font-weight: bold;
	margin: 0;
}

h2 {
	text-align: center;
}

p {
	font-size: 14px;
	font-weight: 100;
	line-height: 20px;
	letter-spacing: 0.5px;
	margin: 20px 0 30px;
}

span {
	font-size: 12px;
}

a {
	color: #333;
	font-size: 14px;
	text-decoration: none;
	margin: 15px 0;
}

button {
	border-radius: 20px;
	border: 1px solid #088db8;
	background-color: #088db8;
	color: #FFFFFF;
	font-size: 12px;
	font-weight: bold;
	padding: 12px 45px;
	letter-spacing: 1px;
	text-transform: uppercase;
	transition: transform 80ms ease-in;
	cursor: pointer;
}

button:active {
	transform: scale(0.95);
}

button:focus {
	outline: none;
}

button.transparente {
	background-color: transparent;
	border-color: #FFFFFF;
}

input {
	background-color: #eee;
	border: none;
	padding: 12px 15px;
	margin: 8px 0;
	width: 100%;
}

form {
	background-color: #FFFFFF;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 50px;
	height: 100%;
	text-align: center;
}

.contenedor {
	background-color: #fff;
	border-radius: 10px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25),
	            0 10px 10px rgba(0,0,0,0.22);
	position: relative;
	overflow: hidden;
	width: 768px;
	max-width: 100%;
	min-height: 480px;
}

.contenedor-formulario {
	position: absolute;
	top: 0;
	height: 100%;
	transition: all 0.6s ease-in-out;
}

.contenedor-iniciar-sesion {
	left: 0;
	width: 50%;
	z-index: 2;
}

.contenedor.derecha-panel-activo .contenedor-iniciar-sesion {
	transform: translateX(100%);
}

.contenedor-registrarse {
	left: 0;
	width: 50%;
	opacity: 0;
	z-index: 1;
}

.contenedor.derecha-panel-activo .contenedor-registrarse {
	transform: translateX(100%);
	opacity: 1;
	z-index: 5;
	animation: mostrar 0.6s;
}

@keyframes mostrar {
	0%, 49.99% {
		opacity: 0;
		z-index: 1;
	}
	50%, 100% {
		opacity: 1;
		z-index: 5;
	}
}

.contenedor-superpuesto {
	position: absolute;
	top: 0;
	left: 50%;
	width: 50%;
	height: 100%;
	overflow: hidden;
	transition: transform 0.6s ease-in-out;
	z-index: 100;
}

.contenedor.derecha-panel-activo .contenedor-superpuesto {
	transform: translateX(-100%);
}

.superpuesto {
	background: linear-gradient(to right, #088db8, #03d6f5);
	background-repeat: no-repeat;
	background-size: cover;
	background-position: 0 0;
	color: #FFFFFF;
	position: relative;
	left: -100%;
	height: 100%;
	width: 200%;
	transform: translateX(0);
	transition: transform 0.6s ease-in-out;
}

.contenedor.derecha-panel-activo .superpuesto {
	transform: translateX(50%);
}

.panel-superpuesto {
	position: absolute;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	padding: 0 40px;
	text-align: center;
	top: 0;
	height: 100%;
	width: 50%;
	transition: transform 0.6s ease-in-out;
}

.panel-superpuesto-izquierdo {
	transform: translateX(-20%);
}

.contenedor.derecha-panel-activo .panel-superpuesto-izquierdo {
	transform: translateX(0);
}

.panel-superpuesto-derecho {
	right: 0;
	transform: translateX(0);
}

.contenedor.derecha-panel-activo .panel-superpuesto-derecho {
	transform: translateX(20%);
}

.contenedor-redes {
	margin: 20px 0;
}

.contenedor-redes a {
	border: 1px solid #DDDDDD;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	margin: 0 5px;
	height: 40px;
	width: 40px;
}

.contenedor-redes a:hover {
	background-color: #088db8;
	color: #fdfdfd;
}

.input-contenedor {
	position: relative;
	margin: 1px 0;
}

.input-contenedor input {
	width: 100%;
	padding: 10px;
	font-size: 16px;
	border: 1px solid #5d5d5d;
	border-radius: 5px;
	outline: none;
	background: #fdfdfd;
}

.input-contenedor input::placeholder {
	color: transparent;
}

.input-contenedor label {
	position: absolute;
	top: 20px;
	left: 10px;
	color: #999;
	font-size: 13px;
	transition: all 0.3s ease;
	pointer-events: none;
}

.input-contenedor input:focus + label,
.input-contenedor input:not(:placeholder-shown) + label {
	top: 0px;
	left: 5px;
	font-size: 11px;
	color: #088db8;
	background-color: #FFFFFF;
	padding: 0 5px;
}

.vercontra {
	position: absolute;
	top: 19%;
	right: -25px;
	transform: translateY(-10%);
	background: transparent;
	border: none;
	cursor: pointer;
	font-size: 20px;
	color: #666;
}

.vercontra.active i {
	color: #666;
}

.contraolvi:hover {
	background-color: #088db8;
}


.color1 { color: #102e4e; }
.color2 { color: #0c567f; }
.color3 { color: #088db8; }
.color4 { color: #03d6f5; }
.color5 { color: #0ffff8; }
